#bg {
  height: 100%;
  width: 100%;
}

.page1 #textje {
  border: 3px groove purple;
  color: rgb(27, 156, 32);
  text-shadow: 0 0 23px black;

  text-align: right;
  position: relative;
}

.page2 {
  border: 1px dotted grey;
}
.page2 #textje {
  color: rgb(17, 10, 91);
  text-shadow: 0 0 1px black;
}
