.wholeplage {
}

.page {
  width: 100vw;
  height: 50vh;
  background-color: rgb(188, 210, 76);
}

#nr1 {
  color: rgb(255, 244, 127);
  display: flex;
  align-items: center;
  justify-content: center;
}

#nr2,
#nr6 {
  background-color: rgb(255, 185, 127);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#nr33 {
}

#zoef {
  background: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blokkie1 {
  background-color: rgb(220, 238, 104);
  border: 1px solid black;
  width: 30%;
  height: 40%;
  position: relative;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

#nr4 {
  background-color: rgb(83, 99, 145);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#blokje {
  color: red;
  background-color: chartreuse;
  height: 8vw;
  width: 8vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

#nr5,
#nr7 {
  background-color: rgb(43, 0, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100%;
}

#nr6 {
  background-color: rgb(0, 0, 0);
}

#nr10 {
  color: rgb(255, 244, 127);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
