.backGrounds > img {
  height: 700px;
  width: 100%;
}

#textje1 {
  position: absolute;
  top: 50%;
  left: 20%;
  text-align: center;
}

#textje2 {
  position: absolute;
  top: 80%;
  left: 10%;
}

#textje3 {
  position: absolute;
  top: 160%;
  right: 5%;
  text-align: right;
}

p {
  color: white;
  font: 20px Verdana, sans-serif;
}
