.wholepager {
  margin-top: 56px;
  padding: 10px;
  border: 1px solid rgb(0, 60, 128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pager {
  display: flex;
  width: 90vw;
  height: 50.625vw;
  overflow: scroll;
  position: relative;
}

.bg {
  z-index: 0;
}

.bgvideo {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.header {
  width: 90vw;
  height: 76vw;
  position: relative;
  overflow: hidden;

  z-index: 2;
}

.headertext {
  position: absolute;

  width: 100%;
  top: 0%;
  transform: translate(0, 30%);

  line-height: 8vw;
  font-size: 12vw;
  color: #ffdb6e;

  text-shadow: 6px 3px black;
  mix-blend-mode: color-dodge;

  z-index: 10;
}

#Sahara_Prace {
  width: 100%;
}

#intoSahara {
  position: absolute;
  z-index: 6;
  width: 100%;

  line-height: 14vw;
  font-size: 12vw;
  color: #dee2e6;
  text-align: center;

  mix-blend-mode: color-dodge;
}

#intoSaharatextbox {
  color: white;
  backdrop-filter: blur(2px);
  position: absolute;

  width: 100%;
  bottom: 0%;
  /* transform: translate(0, 50%); */
  justify-content: center;
  text-align: center;
}

#Aetextbox {
  background-color: rgba(255, 255, 255, 0.651);
  position: absolute;
  z-index: 6;
  width: 30%;
  /* transform: translate(0%, -50%); */
}

#dargnawatextbox {
  position: absolute;
  z-index: 6;
  width: 40%;
  height: 100%;

  left: 100%;
  transform: translate(-50%, 0%);

  color: white;
  text-align: left;
  font-size: 4vw;
  overflow: scroll;
}

#embedAmazigh {
  position: absolute;
  z-index: 6;
  left: 68%;
  top: 0%;
  margin: 0;
  overflow: hidden;
}

.heador {
  /* border: 1px solid black; */
  width: 100%;
  height: fit-content;
  text-align: center;
  color: white;

  font-size: 15vw;
  transform: translate(0%, -23%);
}

.amazigh p {
  /* border: 1px solid salmon; */
  color: white;

  position: absolute;
  width: 33%;
  bottom: 0%;
}

#amazighEP {
  background-image: url("../../assets//GnawaExploration/Amazigh_EP.jpeg");
  background-size: cover;
  background-position: center;
}

#amazighEPembed {
  border: 1px solid grey;
  bottom: 0%;
  width: 400px;
  height: 300px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
#AtlasElectronic_2016II,
#AtlasElectronic_2018krkb,
#AtlasElectronic_2018gimbri,
#AtlasElectronic_2018zaal {
  position: relative;
  border-radius: 10px;
}
