.PG1 > p {
  position: absolute;
  color: white;
  font-size: 15px;
  top: 50%;
  left: 20%;
}

.PG2 > p {
  position: absolute;
  color: white;
  font-size: 15px;
  top: 150%;
  left: 20%;
}

#overflowtje {
  color: white;
  height: 50%;
  width: 30%;

  font: 25px/36px Georgia, Garamond, Serif;
  overflow: auto;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 5%;
}
