/* style={{
  color: "white",
  position: "absolute",

  minWidth: "100%",
  textAlign: "center",
  fontSize: "10vh",
  mixBlendMode: "exclusion",
  zIndex: "4",
}} */

/* 
style={{
  color: "white",
  position: "fixed",
  top: "50vh",
  minWidth: "100%",
  textAlign: "center",
  fontSize: "4vh",

  zIndex: "4",
}}
>
The Gnawa <br></br>
Exploration
</h1> */

.wholepager {
  margin-top: 56px;
  padding: 10px;
  border: 10px solid rgb(0, 60, 128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pager {
  width: 90vw;
  height: 40vw;

  position: relative;
  display: flex;
}

.bg {
}

.bgvideo {
  border: 5px solid rgb(15, 152, 72);
  object-fit: fill;
}

/* 
#pager1 {
  align-items: center;
  justify-content: left;
}

.pager {
  border: 4px solid pink;
}

#headorr {
  font-size: 11vw;

  position: absolute;
}

.floaty {
  color: white;
  border: 1px solid purple;
  mix-blend-mode: exclusion;
  position: absolute;
  z-index: 1;
} */
