body {
  margin: 0;
}

#bg {
  position: absolute;
}

.wholepagetfs {
  display: flex;
}

.pagetfs {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;

  min-width: 100vw;
  height: 100vh;
}

.textbox {
  color: rgb(113, 33, 33);
  background-color: bisque;
  position: relative;

  width: 40vw;
  height: 50vh;
}

.scrollbox {
  color: rgb(113, 33, 33);

  width: 30vw;
  height: 60vh;

  overflow: auto;
  backdrop-filter: blur(2px);
  mix-blend-mode: hard-light;
  position: absolute;
  bottom: 0%;
  left: -10%;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0.5))
  );
}

#tfsPrace {
  display: flex;
  position: absolute;

  left: 70vw;
  bottom: 0%;
}

.bandcampEmbed {
  margin: 0;
  position: absolute;
  bottom: -0%;
  left: 90vw;
}

/* 
.textBlokkie2 {
  border: 1px dotted white;
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 0%;
  left: 150%;
  color: white;
  font-size: 40px;
  backdrop-filter: blur(2px);
  overflow: auto;
  height: 100%;
  width: 30%;
} */

/* 
} */

/* .inspectionPoint {
  position: absolute;
  bottom: 0%;
  right: -200%;
} */

body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}
